Repository mdn/interactive-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "./live-examples/js-examples/**/*.js": ["eslint --fix"],
    "*.css": ["stylelint --fix"]
}

chore(docs): Add `tabs` property to the documentation
  CONTRIBUTING-HTML.md
Due: none

Semantic exmple
  live-examples/js-examples/object/object-keys.js
Due: eslint --fix

Delete object-keys.js
  live-examples/js-examples/object/object-keys.js
Due: eslint --fix

Semantic example
  live-examples/js-examples/object/object-keys.js
Due: eslint --fix

Interactive Example
  live-examples/js-examples/object/object-keys.js
Due: eslint --fix

Add angle brackets
  live-examples/html-examples/interactive-elements/meta.json
Due: none

removed white space in css
  live-examples/css-examples/basic-box-model/overscroll-behavior-x.css
Due: stylelint --fix

Adding an example for overscroll-behavior-x (#2442)
  live-examples/css-examples/basic-box-model/meta.json
  live-examples/css-examples/basic-box-model/overscroll-behavior-x.css
  live-examples/css-examples/basic-box-model/overscroll-behavior-x.html
Due: stylelint --fix

Backdrop & Marker
  live-examples/css-examples/pseudo-element/backdrop.css
  live-examples/css-examples/pseudo-element/backdrop.html
  live-examples/css-examples/pseudo-element/backdrop.js
  live-examples/css-examples/pseudo-element/meta.json
Due: stylelint --fix

Removed :marker
  live-examples/css-examples/pseudo-element/marker.css
  live-examples/css-examples/pseudo-element/marker.html
  live-examples/css-examples/pseudo-element/meta.json
Due: stylelint --fix

Minor adjustments
  live-examples/css-examples/pseudo-element/backdrop.css
  live-examples/css-examples/pseudo-element/backdrop.html
Due: stylelint --fix

draggable
  live-examples/html-examples/global-attributes/attribute-draggable.html
  live-examples/html-examples/global-attributes/css/attribute-draggable.css
  live-examples/html-examples/global-attributes/meta.json
Due: stylelint --fix

ci(prod-deploy): use aws-cli
  .github/workflows/prod-deploy.yml
Due: none

chore(ci): remove Jenkinsfile
  Jenkinsfile
Due: none

DNM: run prod-deploy on this branch
  .github/workflows/prod-deploy.yml
Due: none

Revert "DNM: run prod-deploy on this branch"
  .github/workflows/prod-deploy.yml
Due: none

Improve the example
  live-examples/html-examples/global-attributes/attribute-draggable.html
  live-examples/html-examples/global-attributes/css/attribute-draggable.css
  live-examples/html-examples/global-attributes/js/attribute-draggable.js
  live-examples/html-examples/global-attributes/meta.json
Due: stylelint --fix

Fix lint error
  live-examples/css-examples/transforms/transform-style.css
Due: stylelint --fix

fix(css): Fix 2 contrast issues (#2452)
  live-examples/css-examples/text-decoration/text-emphasis-position.css
  live-examples/css-examples/transforms/transform-style.css
Due: stylelint --fix

Improve contrast pointer events
  live-examples/css-examples/svg/pointer-events.html
Due: none

fix(css): fix contrast of margin-inline
  live-examples/css-examples/logical-properties/margin-inline.css
Due: stylelint --fix

fix(css): fix contrast of margin-bottom
  live-examples/css-examples/basic-box-model/margin.css
Due: stylelint --fix

fix(css): fix contrast in margin-block.css
  live-examples/css-examples/logical-properties/margin-block.css
Due: stylelint --fix

fix(css): improve contrast of list-style-type
  live-examples/css-examples/lists/list-style.css
Due: stylelint --fix

remove explanatory comments
  live-examples/js-examples/arraybuffer/arraybuffer-maxbytelength.js
  live-examples/js-examples/arraybuffer/arraybuffer-resizable.js
  live-examples/js-examples/arraybuffer/arraybuffer-resize.js
Due: eslint --fix

Add resizable ArrayBuffer examples (#2434)
  live-examples/js-examples/arraybuffer/arraybuffer-maxbytelength.js
  live-examples/js-examples/arraybuffer/arraybuffer-resizable.js
  live-examples/js-examples/arraybuffer/arraybuffer-resize.js
  live-examples/js-examples/arraybuffer/meta.json
Due: eslint --fix

fix(css): fix contrast of text in list-style-type
  live-examples/css-examples/lists/list-style-type.html
Due: none

fix(css): fix example link in pointer-events
  live-examples/css-examples/svg/pointer-events.html
Due: none

fix: change stroke to fill in pointer-events
  live-examples/css-examples/svg/pointer-events.html
Due: none

remove style list-style-type
  live-examples/css-examples/lists/list-style-type.html
Due: none

improve `array-flatmap`
  live-examples/js-examples/array/array-flatmap.js
Due: eslint --fix

fix: add class to give color list-style-type
  live-examples/css-examples/lists/list-style.css
Due: stylelint --fix

remove style
  live-examples/css-examples/svg/pointer-events.html
Due: none

fix(css): fix color of text in pointer-events.css
  live-examples/css-examples/svg/pointer-events.css
Due: stylelint --fix

fix
  live-examples/css-examples/lists/list-style.css
Due: stylelint --fix

fix:css change color
  live-examples/css-examples/svg/pointer-events.css
Due: stylelint --fix

feat(ci): 10x faster rebuild of pages (#2458)
  package.json
Due: none

ci(prod-deploy): use aws-cli, remove jenkins (#2468)
  .github/workflows/prod-deploy.yml
  Jenkinsfile
Due: none
