Repository mdn/interactive-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "./live-examples/js-examples/**/*.js": ["eslint --fix"],
    "*.css": ["stylelint --fix"]
}

update: Remove closing tag from inputs (#2495)
  live-examples/html-examples/forms/legend.html
Due: none

fix(css): fix contrast of opacity example (#2489)
  live-examples/css-examples/color/opacity.css
Due: stylelint --fix

Update live-examples/js-examples/array/array-flatmap.js
  live-examples/js-examples/array/array-flatmap.js
Due: eslint --fix

ci: remove AWS deployment
  .github/workflows/prod-deploy.yml
  .github/workflows/stage-deploy.yml
  bin/s3-sync.sh
Due: none

ci: remove AWS deployment (#2496)
  .github/workflows/prod-deploy.yml
  .github/workflows/stage-deploy.yml
  bin/s3-sync.sh
Due: none

add clip to overflow examples
  live-examples/css-examples/basic-box-model/overflow-x.html
  live-examples/css-examples/basic-box-model/overflow-y.html
  live-examples/css-examples/basic-box-model/overflow.html
Due: none

fix(js): improve `array-flatmap` (#2470)
  live-examples/js-examples/array/array-flatmap.js
Due: eslint --fix

fix(js): Fix invalid output in `RelativeTimeFormat` example
  live-examples/js-examples/intl/intl-relativetimeformat-prototype-format.js
  live-examples/js-examples/intl/intl-relativetimeformat.js
Due: eslint --fix

fix(js): Fix invalid output in `RelativeTimeFormat` example (#2502)
  live-examples/js-examples/intl/intl-relativetimeformat-prototype-format.js
  live-examples/js-examples/intl/intl-relativetimeformat.js
Due: eslint --fix

Remove IE 11
  README.md
Due: none

Remove IE 11 (#2504)
  README.md
Due: none

fix review comments
  live-examples/css-examples/basic-box-model/overflow-block.html
  live-examples/css-examples/basic-box-model/overflow-inline.html
Due: none

fix typo
  live-examples/css-examples/basic-box-model/overflow-block.html
Due: none

fix typo
  live-examples/css-examples/basic-box-model/overflow-inline.html
Due: none

docs(fix): Add clip keyword value to overflow examples (#2498)
  live-examples/css-examples/basic-box-model/overflow-block.html
  live-examples/css-examples/basic-box-model/overflow-inline.html
  live-examples/css-examples/basic-box-model/overflow-x.html
  live-examples/css-examples/basic-box-model/overflow-y.html
  live-examples/css-examples/basic-box-model/overflow.html
Due: none

feat: demo 0-index and `[]` retrieval on arrays
  live-examples/js-examples/array/array.js
Due: eslint --fix

feat: show that arrays can contain different types
  live-examples/js-examples/array/array.js
Due: eslint --fix

docs: document `.length` property on arrays
  live-examples/js-examples/array/array.js
Due: eslint --fix

fix: `eslint` errors
  live-examples/js-examples/array/array.js
Due: eslint --fix

style: make code compact by deleting empty lines
  live-examples/js-examples/array/array.js
Due: eslint --fix

feat: showcase basic array functionality
  live-examples/js-examples/array/array.js
  live-examples/js-examples/array/meta.json
Due: eslint --fix

Rename css class
  live-examples/css-examples/cascading-and-inheritance/at-rule-layer.html
Due: none

Rename css class
  live-examples/css-examples/cascading-and-inheritance/at-rule-layer.css
Due: stylelint --fix

fix mdn/content #26502
  live-examples/css-examples/cascading-and-inheritance/at-rule-layer.css
  live-examples/css-examples/cascading-and-inheritance/at-rule-layer.html
Due: stylelint --fix

Edited code on the at-rule-layer css and html files to fix the styling issue on the Try it box of the layer CSS page
  live-examples/css-examples/cascading-and-inheritance/at-rule-layer.css
  live-examples/css-examples/cascading-and-inheritance/at-rule-layer.html
  package-lock.json
Due: stylelint --fix

Edited README.md file for the updated folder structure
  README.md
Due: none

fix(css): Fix `@layer` example
  live-examples/css-examples/cascading-and-inheritance/at-rule-layer.css
  live-examples/css-examples/cascading-and-inheritance/at-rule-layer.html
Due: stylelint --fix

unset #html-output width
  live-examples/css-examples/cascading-and-inheritance/at-rule-layer.css
Due: stylelint --fix

Addtn of example for overscroll-behavior-block pty
  live-examples/css-examples/basic-box-model/meta.json
  live-examples/css-examples/basic-box-model/overscroll-behavior-block.css
  live-examples/css-examples/basic-box-model/overscroll-behavior-block.html
Due: stylelint --fix

replace CSS/@layer try-it example
  live-examples/css-examples/cascading-and-inheritance/at-rule-layer.css
Due: stylelint --fix

fix(css): Fix CSS/@layer try-it: make text-align effect visible (#2519)
  live-examples/css-examples/cascading-and-inheritance/at-rule-layer.css
Due: stylelint --fix

Added subfolders on the Readme file
  README.md
  package-lock.json
Due: none

Update attribute-autocomplete.html
  live-examples/html-examples/form-attributes/attribute-autocomplete.html
Due: none

fix(html): Update attribute-autocomplete.html (#2530)
  live-examples/html-examples/form-attributes/attribute-autocomplete.html
Due: none

feat: add JavaScript to code snippet
  live-examples/html-examples/input/url.html
Due: none

Do build after `npm install`
  package.json
Due: none

Better examples for globalprops-parseint.js
  live-examples/js-examples/globalprops/globalprops-parseint.js
Due: eslint --fix

add small sized plumeria image
  live-examples/css-examples/images/object-fit.css
  live-examples/css-examples/images/object-fit.html
  live-examples/media/examples/plumeria-146x200.jpg
Due: stylelint --fix

fix(CSS): add small sized image for object-fit demo (#2559)
  live-examples/css-examples/images/object-fit.css
  live-examples/css-examples/images/object-fit.html
  live-examples/media/examples/plumeria-146x200.jpg
Due: stylelint --fix

Do build after `npm install` (#2538)
  package.json
Due: none
