Repository mdn/interactive-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "./live-examples/js-examples/**/*.js": ["eslint --fix"],
    "*.css": ["stylelint --fix"]
}

added paragraphs
  live-examples/html-examples/form-attributes/attribute-for.html
Due: none

Update attribute-for.html
  live-examples/html-examples/form-attributes/attribute-for.html
Due: none

prettier
  live-examples/html-examples/form-attributes/css/attribute-for.css
Due: stylelint --fix

feat(html): Add example of `<template>` (#2219)
  live-examples/html-examples/interactive-elements/css/template.css
  live-examples/html-examples/interactive-elements/js/template.js
  live-examples/html-examples/interactive-elements/meta.json
  live-examples/html-examples/interactive-elements/template.html
Due: stylelint --fix

Synchronize configuration with other MDN projects
  .editorconfig
  .gitattributes
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  package-lock.json
  package.json
Due: none

Update stylelint-prettier
  package-lock.json
  package.json
Due: none

Run eslint on all .js files
  .eslintignore
  live-examples/css-examples/animation/animation-state.js
  live-examples/css-examples/animation/play-pause.js
  live-examples/css-examples/basic-box-model/overflow-anchor.js
  live-examples/css-examples/motion-path/offset-playback.js
  live-examples/css-examples/pseudo-class/host.js
  live-examples/css-examples/transforms/transform-origin.js
  live-examples/html-examples/global-attributes/js/attribute-exportparts.js
  live-examples/webapi-examples/document/queryselector/js/document-queryselector.js
Due: none

Apply suggestions from code review
  .eslintignore
  package.json
Due: none

Update README.md (#2565)
  README.md
Due: none

Update live-examples/css-examples/pseudo-class/scope.html
  live-examples/css-examples/pseudo-class/scope.html
Due: none

feat(css): Add example of `:scope` and `:fullscreen` (#2196)
  live-examples/css-examples/pseudo-class/fullscreen.css
  live-examples/css-examples/pseudo-class/fullscreen.html
  live-examples/css-examples/pseudo-class/fullscreen.js
  live-examples/css-examples/pseudo-class/meta.json
  live-examples/css-examples/pseudo-class/scope.css
  live-examples/css-examples/pseudo-class/scope.html
  live-examples/css-examples/pseudo-class/scope.js
Due: stylelint --fix

Apply suggestions from code review
  live-examples/css-examples/@counter-style/counter-style.css
  live-examples/css-examples/@counter-style/negative.css
  live-examples/css-examples/@counter-style/pad.css
  live-examples/css-examples/@counter-style/prefix.css
  live-examples/css-examples/@counter-style/range.css
  live-examples/css-examples/@counter-style/suffix.css
  live-examples/css-examples/@counter-style/symbols.css
Due: stylelint --fix

Update live-examples/css-examples/pseudo-class/defined.html
  live-examples/css-examples/pseudo-class/defined.html
Due: none

Update live-examples/css-examples/pseudo-class/indeterminate.html
  live-examples/css-examples/pseudo-class/indeterminate.html
Due: none

feat(css): Add example of `@keyframes` (#2094)
  live-examples/css-examples/animation/at-rule-keyframes.css
  live-examples/css-examples/animation/at-rule-keyframes.html
  live-examples/css-examples/animation/at-rule-keyframes.js
  live-examples/css-examples/animation/meta.json
Due: stylelint --fix

feat(css): Add example of `:indeterminate` and `:defined` (#2199)
  live-examples/css-examples/pseudo-class/defined.css
  live-examples/css-examples/pseudo-class/defined.html
  live-examples/css-examples/pseudo-class/defined.js
  live-examples/css-examples/pseudo-class/indeterminate.css
  live-examples/css-examples/pseudo-class/indeterminate.html
  live-examples/css-examples/pseudo-class/indeterminate.js
  live-examples/css-examples/pseudo-class/meta.json
Due: stylelint --fix

Update json-stringify.js
  live-examples/js-examples/json/json-stringify.js
Due: eslint --fix

fix: remove JS and reformat label
  live-examples/html-examples/input/url.html
Due: none

Update json-stringify.js (#2569)
  live-examples/js-examples/json/json-stringify.js
Due: eslint --fix

Insert missing newline in config file
  .prettierignore
Due: none

chore(meta): Add codeowners file for PR reviews
  .github/CODEOWNERS
Due: none

Fix configuation for WAT examples
  live-examples/wat-examples/.eslintrc
Due: none

Remove ESLint rules related to formatting
  .eslintrc
Due: none

Mitigate script issue for now
  live-examples/webapi-examples/document/queryselector/js/document-queryselector.js
Due: none

chore(meta): Move contrib docs out of project root
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  contributing/README.md
  contributing/css-examples.md
  contributing/css-style-guide.md
  contributing/html-examples.md
  contributing/javascript-examples.md
  contributing/javascript-style-guide.md
Due: none

chore(meta): Move contrib docs out of project root
  contributing/css-examples.md
  contributing/css-style-guide.md
  contributing/html-examples.md
  contributing/javascript-examples.md
Due: none

chore(meta): Move contrib docs out of project root
  contributing/css-examples.md
Due: none

feat: add JavaScript to code snippet (#2536)
  live-examples/html-examples/input/url.html
Due: none

chore(css): make formatter happy
  live-examples/css-examples/basic-box-model/overscroll-behavior-block.css
  live-examples/css-examples/basic-box-model/overscroll-behavior-block.html
Due: stylelint --fix

Format files with Prettier
  live-examples/css-examples/pseudo-class/defined.html
  live-examples/html-examples/input/url.html
Due: none

Format files
  live-examples/js-examples/finalizationregistry/meta.json
Due: none

Remove redundant overrides
  .prettierrc
Due: none

Format files
  live-examples/js-examples/weakref/meta.json
Due: none

Update .gitattributes
  .gitattributes
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

chore(meta): Move contrib docs out of project root (#2571)
  .gitattributes
  CONTRIBUTING.md
  README.md
  contributing/README.md
  contributing/css-examples.md
  contributing/css-style-guide.md
  contributing/html-examples.md
  contributing/javascript-examples.md
  contributing/javascript-style-guide.md
Due: none
